@{
    ViewData["Title"] = "Panel";
}




<link rel="stylesheet" href="~/css/rent/index.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
@*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*@
<header>
    <p class="Logo">CarWise</p>
    <div class="nav">
        <ol>
            <li><a asp-controller="Logout" asp-action="Index">Logout</a></li>

        </ol>
    </div>
</header>
@*xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx*@

@model List<CarWise.Controllers.PanelController.dataInDataGrid>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Clients</th>
                <th>Car</th>
                <th>ReceiptDate</th>
                <th>ReturnDate</th>
                <th>ToPay</th>
                <th>Pay</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in Model)
            {
                <tr>
                    <td>@rental.Name @rental.Surname</td>
                    <td>@rental.Brand @rental.Model</td>
                    <td>@rental.ReceiptDate.ToShortDateString()</td>
                    <td>@rental.ReturnDate.ToShortDateString()</td>
                    <td>@rental.ToPay</td>
                    <td>@rental.Pay</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@rental.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@rental.Id" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
